.footer-navigation {
  flex: 1;
  display: flex;
  flex-wrap: wrap;

  &_block {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: var(--unitSpacing);
    margin-right: var(--unitSpacing);

    &:last-child {
      margin-right: 0;
    }

    &_header {
      display: inline-flex;

      &_icon {
        width: 20px;
        height: 20px;
        min-width: 20px;
        margin-right: var(--unitSpacing);
      }

      &_title {
        display: inline-flex;
        font-weight: bold;
        color: var(--paletteWhite);
      }
    }

    &_content {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding-left: 28px;
      padding-right: var(--unitSpacing);

      &_link {
        color: var(--paletteTextBlue);

        &:link {
          text-decoration: none;
        }

        &:hover {
          text-decoration: underline;
        }

        &:active {
          color: var(--paletteTextOrange);
        }
      }
    }
  }
}
