.graph {
  display: flex;
  flex-direction: column;

  &_actions {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    height: 45px;
  }
}
